openapi: 3.0.3
info:
  title: Mockingbird API
  version: "1.0.1-beta.rc0"
servers:
  - url: https://api.zeus.fyi/v1
paths:
  /tasks/ai:
    post:
      summary: Create/Update AI Tasks
      description: "Create an AI Task to be used in a workflow. This will be used to
       generate a prompt for the AI model to generate a response."
      operationId: createOrUpdateAITask
      tags:
        - Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AITaskLibrary'
      responses:
        '200':
          description: AI Task successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskLibrary'
        '400':
          description: Bad Request
        '500':
          description: Server Error
  /schemas/ai:
    get:
      summary: Get JsonSchemaDefinitions
      operationId: getJsonSchemaDefinitions
      tags:
        - Schemas
      responses:
        '200':
          description: A list or map of JsonSchemaDefinitions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchemasGroup'
        '404':
          description: JsonSchemaDefinitions not found
        '500':
          description: Internal server error
    post:
      summary: Create/Update JsonSchemaDefinition
      operationId: createJsonSchemaDefinition
      tags:
        - Schemas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonSchemaDefinition'
      responses:
        '201':
          description: Successfully created JsonSchemaDefinition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchemaDefinition'
        '400':
          description: Invalid input
        '500':
          description: Internal server error
  /workflows/ai/actions:
    post:
      summary: Exec Workflow
      operationId: execWorkflow
      tags:
        - Workflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action # Indicating that 'action' is a required field
                - workflows
              properties:
                action:
                  type: string
                  enum:
                    - start # Restricting to only allow "start"
                unixStartTime:
                  type: integer
                duration:
                  type: integer
                durationUnit:
                  type: string
                  enum: # Restricting to the specified units
                    - minutes
                    - minute
                    - hours
                    - hour
                    - hrs
                    - hr
                    - days
                    - day
                    - weeks
                    - week
                    - cycles
                customBasePeriod:
                  type: boolean
                customBasePeriodStepSize:
                  type: integer
                customBasePeriodStepSizeUnit:
                  type: string
                workflows:
                  type: array
                  items:
                    type: object
                    required:
                      - workflowName
                    properties:
                      workflowName:
                        type: string
      responses:
        '200':
          description: Successful response
  /runs/ai:
    get:
      summary: Workflow Runs
      operationId: getAIRunsAnalyses
      tags:
        - Runs
      responses:
        '200':
          description: An array of orchestrations analyses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrchestrationsAnalysis'
components:
  schemas:
    OrchestrationsAnalysis:
      type: object
      properties:
        totalWorkflowTokenUsage:
          type: integer
        runCycles:
          type: integer
        aggregatedData:
          type: array
          items:
            $ref: '#/components/schemas/AggregatedData'
        aggregatedEvalResults:
          type: array
          items:
            $ref: '#/components/schemas/EvalMetric'
        orchestration:
          $ref: '#/components/schemas/Orchestrations'
    Orchestrations:
      type: object
      properties:
        orchestrationStrID:
          type: string
        orchestrationID:
          type: integer
        active:
          type: boolean
        groupName:
          type: string
        type:
          type: string
        instructions:
          type: string
        orchestrationName:
          type: string
    AggregatedData:
      type: object
      properties:
        workflowResultID:
          type: integer
        orchestrationID:
          type: integer
        responseID:
          type: integer
        sourceTaskID:
          type: integer
        iterationCount:
          type: integer
        chunkOffset:
          type: integer
        runningCycleNumber:
          type: integer
        searchWindowUnixStart:
          type: integer
        searchWindowUnixEnd:
          type: integer
        skipAnalysis:
          type: boolean
        metadata:
          type: string
          format: byte
        completionChoices:
          type: string
          format: byte
        taskName:
          type: string
        taskType:
          type: string
        model:
          type: string
        prompt:
          type: string
          format: byte
        promptTokens:
          type: integer
        completionTokens:
          type: integer
        totalTokens:
          type: integer
    EvalMetric:
      type: object
      properties:
        evalMetricStrID:
          type: string
          nullable: true
        evalMetricID:
          type: integer
          nullable: true
        evalField:
          $ref: '#/components/schemas/JsonSchemaField'
        evalName:
          type: string
          nullable: true
        evalMetricResult:
          $ref: '#/components/schemas/EvalMetricResult'
        evalOperator:
          type: string
        evalState:
          type: string
        evalExpectedResultState:
          type: string
        evalMetricComparisonValues:
          $ref: '#/components/schemas/EvalMetricComparisonValues'
    EvalMetricComparisonValues:
      type: object
      properties:
        evalComparisonBoolean:
          type: boolean
          nullable: true
        evalComparisonNumber:
          type: number
          format: double
          nullable: true
        evalComparisonString:
          type: string
          nullable: true
        evalComparisonInteger:
          type: integer
          nullable: true
    JsonSchemaField:
      type: object
      required:
        - fieldName
        - fieldDescription
        - dataType
        - fieldValue
      properties:
        fieldID:
          type: integer
        fieldStrID:
          type: string
          nullable: true
        fieldName:
          type: string
        fieldDescription:
          type: string
        dataType:
          type: string
        fieldValue:
          $ref: '#/components/schemas/FieldValue'
        evalMetrics:
          type: array
          items:
            $ref: '#/components/schemas/EvalMetric'
    FieldValue:
      type: object
      properties:
        integerValue:
          type: integer
          nullable: true
        stringValue:
          type: string
          nullable: true
        numberValue:
          type: number
          format: double
          nullable: true
        booleanValue:
          type: boolean
          nullable: true
        integerValueSlice:
          type: array
          items:
            type: integer
        stringValueSlice:
          type: array
          items:
            type: string
        numberValueSlice:
          type: array
          items:
            type: number
            format: double
        booleanValueSlice:
          type: array
          items:
            type: boolean
        isValidated:
          type: boolean
    JsonSchemaDefinition:
      type: object
      required:
        - schemaName
        - schemaGroup
        - schemaDescription
        - isObjArray
      properties:
        schemaID:
          type: integer
        schemaStrID:
          type: string
        schemaName:
          type: string
        schemaGroup:
          type: string
        schemaDescription:
          type: string
        isObjArray:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/JsonSchemaField'
    EvalMetricResult:
      type: object
      properties:
        evalMetricsResultStrID:
          type: string
          nullable: true
        evalMetricsResultID:
          type: integer
          nullable: true
        evalResultOutcomeBool:
          type: boolean
          nullable: true
        evalResultOutcomeStateStr:
          type: string
          nullable: true
        runningCycleNumber:
          type: integer
          nullable: true
        evalIterationCount:
          type: integer
          nullable: true
        searchWindowUnixStart:
          type: integer
          nullable: true
        searchWindowUnixEnd:
          type: integer
          nullable: true
        evalMetadata:
          type: string
          format: byte
          nullable: true
    AITaskLibrary:
      type: object
      required:
        - taskName
        - taskGroup
        - taskType
        - model
        - responseFormat
      properties:
        taskStrID:
          type: string
        taskID:
          type: integer
        maxTokensPerTask:
          type: integer
        taskType:
          type: string
        taskName:
          type: string
        taskGroup:
          type: string
        tokenOverflowStrategy:
          type: string
          enum:
            - deduce
            - truncate
        model:
          type: string
          enum:
            - gpt-3.5-turbo-0125
            - gpt-3.5-turbo-1106
            - gpt-4-32k
            - gpt-4-32k-0613
            - gpt-4-0613
            - gpt-4-1106-preview
            - gpt-4-0125-preview
        temperature:
          type: number
          minimum: 0
          maximum: 2
        marginBuffer:
          type: number
          minimum: 0.2
          maximum: 0.8
        prompt:
          type: string
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/JsonSchemaDefinition'
        responseFormat:
          type: string
          enum:
            - json
            - text
    JsonSchemasGroup:
      type: object
      properties:
        jsonSchemaDefinitionsSlice:
          type: array
          items:
            $ref: '#/components/schemas/JsonSchemaDefinition'
        jsonSchemaDefinitionsMap:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/JsonSchemaDefinition'