go 1.21

use (
	.

	./apps/microservices/choreography
	./apps/microservices/load_simulator
	./apps/microservices/server_template
	./apps/serverless/aws/secrets_fetch
	./apps/serverless/ethereum/bls_encrypted_zip_gen
	./apps/serverless/ethereum/bls_signatures
	./apps/serverless/ethereum/secrets_keygen
	./apps/serverless/ethereum/validators_deposits_gen

	./apps/external/web3
	./apps/hades

	./apps/hercules
	./apps/snapshots
)
