go 1.20

use (
	.

	./apps/cookbooks/microservices/choreography
	./apps/cookbooks/microservices/server_template
	./apps/cookbooks/serverless/aws/secrets_fetch
	./apps/cookbooks/serverless/ethereum/bls_signatures

	./apps/external/web3
	./apps/hades

	./apps/hercules
	./apps/snapshots
)
